@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.login {
  background-color: #F4F2F2;
}

.hero {
  #no {
    font-weight: 700;
    color: #410650;
    font-size: 46px;

  }

  .hero1 {


    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 58vh;
    color: rgb(0, 0, 0);


    .welcome {
      font-size: 80px;
			font-weight: bold;
			text-align: center;
			background-color: #000;
			background-image: linear-gradient(-45deg, #0e042e 9%, rgb(15, 3, 13) 50%, rgb(43, 2, 26) 90%);
			background-size: 200% 200%;
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			animation: brillo 2.5s linear infinite alternate;

      /* font-size: 80px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif; */
    }

    .welcome2 {
      font-size: 40px;
      color: rgb(241, 228, 247);
    }

    .buttoninfo {
      
      color: #F4F2F2;
      font-weight: bold;
      background-color: #652cc2;
      margin-top: 20px;
      border-radius: 20px;
      padding: 10px 45px;
      border: none;
      transition: all 0.5s ease-out;

    }

    .buttoninfo:hover {
      background-color: #490349;
      transform: scale(1.1);
      box-shadow: 0 0 30px 0 rgba(197, 141, 219, 0.863);
    }


  }

  




  /* background-color: rgba(35, 4, 53, 0.932); */
  background-image:linear-gradient(0deg,
    rgba(225, 143, 228, 0.699),
    rgba(67, 8, 82, 0.918)),
  url(https://th.bing.com/th/id/OIG.USvxH7LVZUM5SYuiNmWG?pid=ImgGn);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}


@keyframes brillo {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}